Assignment 1: WAP to print the company name of given email addr. Both user name & company names are omposed of letters only

In [7]:
emailaddr=input("Enter the email address of user with company name: ")
com=emailaddr.split('@')[1] . split('.')[0]
print(com)

Enter the email address of user with company name: jayesh@google.com
google

Assignment 2: WAP that accepts a comma-seperated sequence of worlds as input & print the worlds in a comma seperated sequence after sorting them aplphabeticaly

In [11]:
items = input("Input comma separated sequence of words: ")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma separated sequence of wordsapp,google,max,big
app,big,google,max

Assignment 3:create a jupyter notebook for set

# set:

set is a collection of unique number of data.
Change item: you can't change the element of set but you can add a new element in set.

    Add item-for one item add in set for that time "add()" method is use.
    you can add more than one item using "update()" method
    
    some other  method is use for:
    remove()->remove the specific element
    len()->calculate the set length.
    discard()-> like as remove method.
    pop()-> remove the last element from set
    clear()
    del()->delete the complete set.
    
Join two sets:
union()->The union() method returns a new set with all items.

In [10]:
set1={"ram","sai","lina"}
print(set1)
# Access item from set
print("xyz" in set1)
# Add item:
set1.add("nilu")
print(set1)
# get the length
print(len(set1))
# remove item
set1.remove("ram")
print(set1)

#pop the item
x=set1.pop()
print("pop the element:",x)
print(set1)

set1.clear()
print(set1)

{'lina', 'ram', 'sai'}
False
{'lina', 'ram', 'nilu', 'sai'}
4
{'lina', 'nilu', 'sai'}
pop the element: lina
{'nilu', 'sai'}
set()

AttributeError: 'set' object has no attribute 'delete'

In [15]:
# join sets
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

# update set
set1.update(set2)
print(set1)

# delete set
print(set1)
del set1
print(set1)

{1, 2, 'a', 'c', 3, 'b'}
{1, 2, 'a', 'c', 3, 'b'}
{1, 2, 'a', 'c', 3, 'b'}

NameError: name 'set1' is not defined

Assignment 4:Give a list of n-1 no ranging from 1 to n, your task is to find the missing no.There are no. duplicate.

In [10]:
def missingNo(A): 
    n = len(A) 
    total = (n + 1)*(n + 2)//2
    sum_A = sum(A) 
    return total - sum_A 
  
A = [1, 2, 4, 5, 6] 
miss = missingNo(A) 
print("missing element is:",miss)

missing element is: 3

Assignment 5: WAP to print the list after removing all dublicate values with original order reserve

In [9]:
lst=[12,55,34,12,77,56,34]
print(lst)
res=[]
for i in lst:
    if i not in res:
        res.append(i)
print("the list:"+ str(res))

[12, 55, 34, 12, 77, 56, 34]
the list:[12, 55, 34, 77, 56]