# Logistic regression of Bank Loan Modeling

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm

In [3]:
data=pd.read_excel("dataset/Bank_Personal_Loan_Modelling.xlsx",sheet_name=1)
data.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [4]:
data=data.drop(columns=["ID","ZIP Code"])
data.drop_duplicates(inplace=True)
data.shape

(4987, 12)

In [5]:
y1 = data['Personal Loan']
x1 = data[['Age', 'Experience', 'Income', 'Family', 'CCAvg', 'Education', 'Mortgage','Securities Account', 'CD Account',
          'Online', 'CreditCard']]

In [6]:
x1=sm.add_constant(x1)
Logistic=sm.Logit(y1,x1)

In [7]:
result=Logistic.fit()

Optimization terminated successfully.
         Current function value: 0.128720
         Iterations 9

In [8]:
result.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:          Personal Loan   No. Observations:                 4987
Model:                          Logit   Df Residuals:                     4975
Method:                           MLE   Df Model:                           11
Date:                Sun, 09 Aug 2020   Pseudo R-squ.:                  0.5936
Time:                        15:42:10   Log-Likelihood:                -641.93
converged:                       True   LL-Null:                       -1579.7
Covariance Type:            nonrobust   LLR p-value:                     0.000
======================================================================================
                         coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------------
const                -12.1727      1.645     -7.399      0.000     -15.397      -8.948
Age                   -0.0541      0.061     -0.882      0.378      -0.174       0.066
Experience             0.0642      0.061      1.054      0.292      -0.055       0.184
Income                 0.0545      0.003     20.822      0.000       0.049       0.060
Family                 0.6947      0.074      9.348      0.000       0.549       0.840
CCAvg                  0.1236      0.040      3.117      0.002       0.046       0.201
Education              1.7363      0.115     15.091      0.000       1.511       1.962
Mortgage               0.0005      0.001      0.848      0.396      -0.001       0.002
Securities Account    -0.9371      0.286     -3.280      0.001      -1.497      -0.377
CD Account             3.8181      0.324     11.788      0.000       3.183       4.453
Online                -0.6724      0.157     -4.280      0.000      -0.980      -0.364
CreditCard            -1.1181      0.205     -5.454      0.000      -1.520      -0.716
======================================================================================
"""

# Inferences:

The below factor is highly affected attrition to employee loan:
1.The Income of the customer.
2.Family member of customer.
3.CCAvg of customer
4.Education Level 1:Undergraduate 2:Graduate 3:Professional
5.securities account of customer
6.Does have a certificate of credit account with the bank?
7.Does the customer use the online banking?
8.does the customer used a credit card issued by Universal Bank?

# Logistic regression of Attrition Analysis

In [29]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import statsmodels.api as sm

In [30]:
data1=pd.read_csv("dataset/general_data.csv")
data1.head()

,Age,Attrition,BusinessTravel,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeID,Gender,...,NumCompaniesWorked,Over18,PercentSalaryHike,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,YearsAtCompany,YearsSinceLastPromotion,YearsWithCurrManager
0,51,No,Travel_Rarely,Sales,6,2,Life Sciences,1,1,Female,...,1.0,Y,11,8,0,1.0,6,1,0,0
1,31,Yes,Travel_Frequently,Research & Development,10,1,Life Sciences,1,2,Female,...,0.0,Y,23,8,1,6.0,3,5,1,4
2,32,No,Travel_Frequently,Research & Development,17,4,Other,1,3,Male,...,1.0,Y,15,8,3,5.0,2,5,0,3
3,38,No,Non-Travel,Research & Development,2,5,Life Sciences,1,4,Male,...,3.0,Y,11,8,3,13.0,5,8,7,5
4,32,No,Travel_Rarely,Research & Development,10,1,Medical,1,5,Male,...,4.0,Y,12,8,2,9.0,2,6,0,4

In [31]:
data1.dropna(inplace=True)
data1.shape

(4382, 24)

In [32]:
data1 = data1.drop(columns = ['EmployeeID', 'EmployeeCount', 'Over18', 'StandardHours', ])

In [33]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4382 entries, 0 to 4408
Data columns (total 20 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Age                      4382 non-null   int64
 1   Attrition                4382 non-null   object
 2   BusinessTravel           4382 non-null   object
 3   Department               4382 non-null   object
 4   DistanceFromHome         4382 non-null   int64
 5   Education                4382 non-null   int64
 6   EducationField           4382 non-null   object
 7   Gender                   4382 non-null   object
 8   JobLevel                 4382 non-null   int64
 9   JobRole                  4382 non-null   object
 10  MaritalStatus            4382 non-null   object
 11  MonthlyIncome            4382 non-null   int64
 12  NumCompaniesWorked       4382 non-null   float64
 13  PercentSalaryHike        4382 non-null   int64
 14  StockOptionLevel         4382 non-null   int64
 15  TotalWorkingYears        4382 non-null   float64
 16  TrainingTimesLastYear    4382 non-null   int64
 17  YearsAtCompany           4382 non-null   int64
 18  YearsSinceLastPromotion  4382 non-null   int64
 19  YearsWithCurrManager     4382 non-null   int64
dtypes: float64(2), int64(11), object(7)
memory usage: 718.9+ KB

In [34]:
data1.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'Gender', 'JobLevel', 'JobRole',
       'MaritalStatus', 'MonthlyIncome', 'NumCompaniesWorked',
       'PercentSalaryHike', 'StockOptionLevel', 'TotalWorkingYears',
       'TrainingTimesLastYear', 'YearsAtCompany', 'YearsSinceLastPromotion',
       'YearsWithCurrManager'],
      dtype='object')

In [35]:
from sklearn import preprocessing
p = preprocessing.LabelEncoder()
data1['Attrition'] = p.fit_transform(data1['Attrition'])
data1['BusinessTravel'] = p.fit_transform(data1['BusinessTravel'])
data1['EducationField'] = p.fit_transform(data1['EducationField'])
data1['Gender'] = p.fit_transform(data1['Gender'])
data1['Department'] = p.fit_transform(data1['Department'])
data1['MaritalStatus'] = p.fit_transform(data1['MaritalStatus'])
data1['JobRole'] = p.fit_transform(data1['JobRole'])

In [36]:
y4= data1['Attrition']
X4 = data1.drop(columns = ['Attrition'])

In [38]:
x2=sm.add_constant(X4)
# Logistic1=sm.Logit(y1,x2)

In [39]:
Logist=sm.Logit(y4,x2)

In [40]:
result1=Logist.fit()

Optimization terminated successfully.
         Current function value: 0.392916
         Iterations 7

In [42]:
result1.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:              Attrition   No. Observations:                 4382
Model:                          Logit   Df Residuals:                     4362
Method:                           MLE   Df Model:                           19
Date:                Sun, 09 Aug 2020   Pseudo R-squ.:                  0.1093
Time:                        16:32:09   Log-Likelihood:                -1721.8
converged:                       True   LL-Null:                       -1933.1
Covariance Type:            nonrobust   LLR p-value:                 8.681e-78
===========================================================================================
                              coef    std err          z      P>|z|      [0.025      0.975]
-------------------------------------------------------------------------------------------
const                       0.0270      0.414      0.065      0.948      -0.785       0.839
Age                        -0.0307      0.007     -4.478      0.000      -0.044      -0.017
BusinessTravel             -0.0137      0.066     -0.209      0.834      -0.143       0.115
Department                 -0.2229      0.082     -2.735      0.006      -0.383      -0.063
DistanceFromHome           -0.0012      0.005     -0.231      0.818      -0.012       0.009
Education                  -0.0664      0.043     -1.555      0.120      -0.150       0.017
EducationField             -0.0954      0.034     -2.849      0.004      -0.161      -0.030
Gender                      0.0855      0.090      0.952      0.341      -0.091       0.262
JobLevel                   -0.0285      0.040     -0.716      0.474      -0.107       0.050
JobRole                     0.0400      0.018      2.226      0.026       0.005       0.075
MaritalStatus               0.5835      0.063      9.212      0.000       0.459       0.708
MonthlyIncome           -1.815e-06   9.57e-07     -1.897      0.058   -3.69e-06    6.01e-08
NumCompaniesWorked          0.1174      0.018      6.390      0.000       0.081       0.153
PercentSalaryHike           0.0126      0.012      1.067      0.286      -0.011       0.036
StockOptionLevel           -0.0675      0.052     -1.302      0.193      -0.169       0.034
TotalWorkingYears          -0.0584      0.012     -4.873      0.000      -0.082      -0.035
TrainingTimesLastYear      -0.1443      0.035     -4.097      0.000      -0.213      -0.075
YearsAtCompany              0.0132      0.018      0.718      0.473      -0.023       0.049
YearsSinceLastPromotion     0.1328      0.020      6.479      0.000       0.093       0.173
YearsWithCurrManager       -0.1394      0.022     -6.288      0.000      -0.183      -0.096
===========================================================================================
"""

# Inferences:

The below factor is highly affected on attrition data:
1.Age of employee
2.Department of employee
3.Education field
4.Marital status
5.No of companies worked of employee
6.Total working year of employee
7.Training times Last year 
8.year Since Last Promotion of employee
9.Year with Current Manager