In [1]:
import warnings
warnings.simplefilter('ignore')

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder

In [11]:
df = pd.read_csv('train.csv')

In [12]:
df.shape

(889, 12)

In [13]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [14]:
df = df.drop(['PassengerId'],axis=1)

In [15]:
df.Sex.value_counts()

male      577
female    312
Name: Sex, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Name      889 non-null    object
 3   Sex       889 non-null    object
 4   Age       889 non-null    float64
 5   SibSp     889 non-null    int64
 6   Parch     889 non-null    int64
 7   Ticket    889 non-null    object
 8   Fare      889 non-null    float64
 9   Cabin     202 non-null    object
 10  Embarked  889 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 76.5+ KB

In [17]:
df.isnull().sum()

Survived      0
Pclass        0
Name          0
Sex           0
Age           0
SibSp         0
Parch         0
Ticket        0
Fare          0
Cabin       687
Embarked      0
dtype: int64

In [18]:
df.Sex.fillna(df['Sex'].mode()[0], inplace=True)

In [19]:
df.Cabin.fillna(df['Cabin'].mode()[0], inplace=True)

In [20]:
df.isnull().sum()

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Ticket      0
Fare        0
Cabin       0
Embarked    0
dtype: int64

In [23]:
df.Cabin.value_counts()

B96 B98        691
C23 C25 C27      4
G6               4
E101             3
C22 C26          3
              ...
C54              1
C62 C64          1
C106             1
B78              1
B42              1
Name: Cabin, Length: 146, dtype: int64

In [27]:
for i in range(len(df['Cabin'])):
    if df['Cabin'][i] == '3+':
        df['Cabin'][i] = 3
df.Cabin.value_counts()

B96 B98        691
C23 C25 C27      4
G6               4
E101             3
C22 C26          3
              ...
C54              1
C62 C64          1
C106             1
B78              1
B42              1
Name: Cabin, Length: 146, dtype: int64

In [28]:
le = LabelEncoder()

In [29]:
df['Sex'] = le.fit_transform(df['Sex'])

In [30]:
df['Survived'] = le.fit_transform(df['Survived'])

In [32]:
df['SibSp'] = le.fit_transform(df['SibSp'])

In [33]:
df['Parch'] = le.fit_transform(df['Parch'])

In [34]:
df['Embarked'] = le.fit_transform(df['Embarked'])

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 889 entries, 0 to 888
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  889 non-null    int64
 1   Pclass    889 non-null    int64
 2   Name      889 non-null    object
 3   Sex       889 non-null    int32
 4   Age       889 non-null    float64
 5   SibSp     889 non-null    int64
 6   Parch     889 non-null    int64
 7   Ticket    889 non-null    object
 8   Fare      889 non-null    float64
 9   Cabin     889 non-null    object
 10  Embarked  889 non-null    int32
dtypes: float64(2), int32(2), int64(4), object(3)
memory usage: 69.6+ KB

# Building block

In [43]:
X = df.drop(['Sex'], axis=1)
y = df['Sex']

In [45]:
#from sklearn.linear_model import LogisticRegression

#lr = LogisticRegression()
#lr.fit(X, y)
#lr.score(X, y)

In [46]:
X.columns

Index(['Survived', 'Pclass', 'Name', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare',
       'Cabin', 'Embarked'],
      dtype='object')

In [47]:
import pickle

In [48]:
pickle.dump(lr, open('loan_model.pkl','wb'))